@import url('https://fonts.googleapis.com/css?family=Lato:300&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  background-color: white;
}

/* Header section */
.nav {
  z-index: 100;
}
.nav-link:link,
.nav-link:visited {
  color: white;
  font-size: 13px;
  transition: all 0.4s;
}

.nav-link:hover {
  color: #3ddfc9;
}

.header-section {
  height: 100vh;
  background-image: url('header.svg');
  background-position: center;
  background-size: cover;
  clip-path: polygon(100% 0, 100% 79%, 79% 94%, 23% 100%, 0 78%, 0 0);
  background-color: white;
  position: relative;
}

.header-main {
  position: absolute;
  top: 40%;
  left: 10%;
}

.header-main-text {
  color: white;
  text-transform: uppercase;
  font-size: 50px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

.header-main-text::after {
  content: '';
  display: block;
  position: absolute;
  top: 50;
  width: 30%;
  left: 35%;
  border-top: 1px solid white;
}

.header-sub-text {
  color: #c6ced3;
  text-transform: capitalize;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

.btn-header:link,
.btn-header:visited {
  text-decoration: none;
  color: white;
  background-image: linear-gradient(to right, #1285a5, #06d5ba);
  padding: 10px 60px;
  border-radius: 100px;
  display: inline-block;
  transition: all 0.4s;
}

.btn-header:hover {
  transform: translateY(-3px);
}

li {
  display: inline-block;
  list-style-type: none;
  padding: 1em;
  margin-right: 30px;
  text-transform: uppercase;
  color: white;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

li span {
  display: block;
  font-size: 30px;
}

.timer {
  position: absolute;
  top: 13%;
  left: 10%;
}

/* Theme */
.theme-section {
  height: 70vh;
  background-image: url('theme.svg');
  background-size: cover;
  position: relative;
}
.theme-card {
  padding: 10px;
  margin: 100px 10px 10px 10px;
  /* height: 400px; */
  background-color: white;
  border: none;
  border-radius: 10px;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.151);
  transition: all 0.4s;
}
.card-row2 {
  margin-top: -70px;
}
.theme-card:hover {
  transform: translateY(-5px);
}
.theme-card > p {
  text-align: justify;
  padding: 0px 20px;
}

.theme-card-header {
  margin-top: 20px;
  font-size: 15px;
  padding: 0px 20px;
  word-wrap: break-word;
}

.theme-img {
  height: 150px;
}

.theme-header {
  position: absolute;
  left: 10%;
  font-size: 50px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}
.theme-header::after {
  content: '';
  display: block;
  position: absolute;
  top: 50;
  width: 40%;
  left: 60%;
  border-top: 1px solid black;
}
.prize-section {
  height: 90vh;
  background-image: url('prizes.svg');
  background-size: cover;
}

.prize-header {
  position: absolute;
  left: 10%;
  font-size: 50px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}
.prize-header::after {
  content: '';
  display: block;
  position: absolute;
  top: 50;
  width: 40%;
  left: 60%;
  border-top: 1px solid black;
}

.medal {
  margin-top: 200px;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  background-color: #ffcc00;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: shine 4s ease-in-out infinite;
}

.medal2 {
  background-color: #d7d7d7;
}
.prize-context-row {
  position: relative;
}
.prize-context-col {
  margin-top: 420px;
  position: absolute;
  top: 50%;
  left: 43%;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}
.prize {
  position: relative;
}
.firstprize {
  margin-top: 320px;
  position: absolute;
  top: 50%;
  left: 23%;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}
.firstprize-rs {
  margin-top: 370px;
  position: absolute;
  top: 50%;
  left: 36%;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

.secondprize {
  margin-top: 320px;
  position: absolute;
  top: 50%;
  left: 23%;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}
.secondprize-rs {
  margin-top: 370px;
  position: absolute;
  top: 50%;
  left: 36%;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

.icon--star:before {
  font-family: fontAwesome;
  content: '\f005';
  font-size: 70px;
  color: whitesmoke;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes shine {
  from {
    background-repeat: no-repeat;
    background-image: -webkit-linear-gradient(
      top left,
      rgba(250, 250, 250, 0) 0%,
      rgba(250, 250, 250, 0) 45%,
      rgba(250, 250, 250, 0.3) 48%,
      rgba(250, 250, 250, 0.5) 50%,
      rgba(250, 250, 250, 0.3) 52%,
      rgba(250, 250, 250, 0) 57%,
      rgba(250, 250, 250, 0) 100%
    );
    background-position: -400px -400px;
    background-size: 600px 600px;
  }
  to {
    background-repeat: no-repeat;
    background-position: 250px 250px;
  }
}

.rules-section {
  height: 90vh;
  background-image: url('rules.svg');
  background-size: cover;
}

.rules-header {
  position: absolute;
  left: 10%;
  font-size: 50px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}
.rules-header::after {
  content: '';
  display: block;
  position: absolute;
  top: 50;
  width: 40%;
  left: 60%;
  border-top: 1px solid black;
}
.rule-wrapper {
  margin-top: 180px;
  margin-left: -150px;
}
/* Sponsor */
.sponsor-section {
  background-image: url('sponsors.svg');
  background-size: cover;
  height: 100vh;
}
.sponsor-header {
  position: absolute;
  left: 10%;
  font-size: 50px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}
.sponsor-header::after {
  content: '';
  display: block;
  position: absolute;
  top: 50;
  width: 40%;
  left: 60%;
  border-top: 1px solid black;
}
.sponsor-img-container {
  margin: 100px 30px;
}
.sponsor-img {
  opacity: 0.9;
  transition: all 0.4s;
}
.sponsor-img:hover {
  opacity: 1;
  transform: scale(1.1);
}

/* FAQ */
.faq-section {
  background-image: url('faq.svg');
  background-size: cover;
}
.faq-header {
  position: absolute;
  left: 10%;
  font-size: 50px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}
.faq-header::after {
  content: '';
  display: block;
  position: absolute;
  top: 50;
  width: 40%;
  left: 60%;
  border-top: 1px solid #5760c6;
}
.accordion-container {
  position: relative;
  max-width: 500px;
  height: auto;
  margin: 100px auto;
}
.accordion-container > h2 {
  text-align: center;
  color: #fff;
  padding-bottom: 5px;
  margin-bottom: 20px;
  padding-bottom: 15px;
  font-family: 'Maven Pro', sans-serif;
}
.set {
  position: relative;
  width: 100%;
  height: auto;
  background-color: #240ba1;
  overflow: hidden;
}
.set > a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: white;
  font-weight: 600;
  transition: all 0.2s linear;
}
.set > a i {
  float: right;
  margin-top: 2px;
}
/* .set > a.active{
    background-color:#3399cc;
    color: #fff;
  } */
.content {
  background-color: #5423cb;
  border-bottom: 1px solid #5423cb;
  display: none;
}
.content p {
  padding: 10px 15px;
  margin: 0;
  color: white;
}

/* Contact Us */
.contact-us-footer {
  height: 100vh;
  background-image: url('contact.svg');
  background-size: cover;
}
.contact-header {
  position: absolute;
  left: 10%;
  font-size: 50px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}
.contact-header::after {
  content: '';
  display: block;
  position: absolute;
  top: 50;
  width: 40%;
  left: 60%;
  border-top: 1px solid #5760c6;
}
.number-wrapper {
  margin: 250px 0px 10px 130px;
  color: white;
}

.iframe-holder {
  margin-top: 200px;
}

.social-links {
  margin-top: 50px;
}

/* Media queries */
@media screen and (min-width: 1400px) {
  .theme-section {
    height: 50vh;
  }
  .prize-section {
    height: 70vh;
  }
  .rules-section {
    height: 70vh;
  }
  .contact-us-footer {
    height: 70vh;
  }
}
@media screen and (max-width: 1050px) {
  .wrapper {
    overflow-x: hidden;
    position: relative;
  }
  .secondprize-rs {
    margin-top: 430px;
  }
}

@media screen and (max-width: 780px) {
  .wrapper {
    overflow-x: hidden;
    position: relative;
  }
  nav {
    background-color: #320374;
    z-index: 100;
  }

  .header-section {
    clip-path: polygon(100% 0, 100% 25%, 100% 80%, 0 95%, 0 75%, 0 0);
    height: 700px;
  }
  .theme-section {
    height: 450px;
  }
  .prize-section {
    background-image: url('prizetab.svg');
    background-size: cover;
    height: 700px;
  }

  .prize-context-col {
    margin-top: 480px;

    left: 40%;
  }
  .firstprize-rs {
    margin-top: 430px;
  }
  .secondprize-rs {
    margin-top: 430px;
  }
  .rule-wrapper {
    margin: 130px 0px 100px -150px;
  }

  .number-span {
    display: block;
  }
  .social-links {
    margin-top: -60px;
  }
}

@media screen and (device-width: 768px) and (device-height: 1024px) {
  nav {
    z-index: 100;
  }
  .header-section {
    height: 700px;
  }
  .rules-section {
    height: 500px;
  }
  .prize-context-col {
    margin-top: 600px;

    left: 33%;
  }
  .theme-section {
    height: 450px;
  }
  .number-wrapper {
    margin: 380px 0px 10px 130px;
  }
  .iframe-holder {
    margin-top: 370px;
  }
  .theme-img {
    height: 130px;
  }
}

@media screen and (max-width: 550px) {
  .wrapper {
    overflow-x: hidden;
    position: relative;
  }
  nav {
    background-color: #320374;
    z-index: 100;
  }

  .header-section {
    clip-path: none;
    background-image: url('phone-header330.svg');
    height: 700px;
  }
  .header-main {
    top: 55%;
    left: 10%;
  }
  li:nth-child(2) {
    margin-right: 20px;
  }

  li:nth-child(3) {
    margin-right: 0px;
  }
  .timer {
    top: 10%;
    left: 10%;
    z-index: 1;
  }
  .theme-section {
    background-image: url('phone1.svg');
    background-size: cover;
    height: 850px;
  }
  .theme-card:nth-child(1) {
    margin: 100px 10px 5px 10px;
  }
  .theme-card:nth-child(2) {
    margin: 10px 10px;
  }
  .theme-card:nth-child(3) {
    margin: 10px 10px;
  }
  .theme-card:nth-child(4) {
    margin: 10px 10px;
  }
  .prize-section {
    background-image: url('phone1.svg');
    background-size: cover;
    height: 700px;
  }
  .medal2 {
    margin-top: 500px;
  }
  .firstprize-rs {
    margin-top: 390px;
  }
  .secondprize {
    margin-top: 590px;
  }
  .secondprize-rs {
    margin-top: 640px;
  }
  .prize-context-col {
    margin-top: 690px;

    left: 30%;
  }
  .rules-section {
    height: 500px;
    margin-top: 40px;

    background-image: url('phone1.svg');
    background-size: cover;
  }
  .rule-wrapper {
    margin: 130px 0px 100px 10px;
  }
  .sponsor-img-container:nth-child(1) {
    margin: 100px 30px 5px 30px;
  }

  .sponsor-img-container {
    margin: 10px 30px;
  }
  .faq-section {
    background-image: url('phone1.svg');
    background-size: cover;
    height: 700px;
  }
  .accordion-container:nth-child(1) {
    max-width: 500px;
    margin: 100px 10px 5px 30px;
    padding-right: 0;
  }

  .column-2 {
    margin-top: -80px;
  }
  .contact-us-footer {
    background-image: url('footer1.svg');
    height: 130vh;
  }
  .number-wrapper {
    margin: 200px 0px 10px 90px;
  }
  .number-span {
    display: block;
  }
  .iframe-holder {
    margin-top: 20px;
  }
}

@media screen and (device-width: 414px) and (device-height: 736px) {
  nav {
    z-index: 100;
  }
  .header-section {
    height: 700px;
  }
  .theme-section {
    height: 850px;
  }
  .prize-section {
    height: 700px;
  }
  .rules-header {
    margin-top: 80px;
  }
  .prize-context-col {
    margin-top: 700px;

    left: 10%;
  }
  .accordion-container:nth-child(1) {
    margin: 100px 10px 5px 10px;
  }
}
@media screen and (device-width: 411px) and (device-height: 823px) {
  nav {
    z-index: 100;
  }
  .header-section {
    height: 700px;
  }
  .theme-section {
    height: 850px;
  }
  .prize-section {
    height: 700px;
  }
  .rules-section {
    height: 500px;
    margin-top: 40px;
  }
  .rule-wrapper {
    margin: 130px 0px 100px 10px;
  }
  .rules-header {
    margin-top: 50px;
  }
  .prize-context-col {
    margin-top: 700px;
    left: 10%;
  }
}

@media screen and (device-width: 411px) and (device-height: 731px) {
  nav {
    z-index: 100;
  }
  .header-section {
    height: 700px;
  }
  .theme-section {
    height: 850px;
  }
  .prize-section {
    height: 700px;
  }
  .prize-context-col {
    margin-top: 700px;

    left: 27%;
  }
  .firstprize {
    margin-top: 300px;
  }
  .firstprize-rs {
    margin-top: 360px;
  }
  .accordion-container:nth-child(1) {
    margin: 100px 10px 5px 10px;
  }

  .rules-header {
    margin-top: 50px;
  }
}

@media screen and (max-width: 380px) {
  .wrapper {
    overflow-x: hidden;
    position: relative;
  }
  nav {
    background-color: #320374;
    z-index: 100;
  }

  .header-section {
    clip-path: none;
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.1),
        rgba(0, 0, 0, 0.15)
      ),
      url('phone-header330.svg');
    height: 700px;
  }
  .header-main {
    top: 55%;
    left: 10%;
  }
  li:nth-child(2) {
    margin-right: 20px;
  }

  li:nth-child(3) {
    margin-right: 0px;
  }
  .timer {
    top: 10%;
    left: 10%;
    z-index: 1;
  }
  .theme-section {
    background-image: url('phone1.svg');
    background-size: cover;
    height: 850px;
  }
  .theme-card:nth-child(1) {
    margin: 100px 10px 5px 10px;
  }
  .theme-card:nth-child(2) {
    margin: 10px 10px;
  }
  .theme-card:nth-child(3) {
    margin: 10px 10px;
  }
  .theme-card:nth-child(4) {
    margin: 10px 10px;
  }
  .prize-section {
    background-image: url('phone1.svg');
    background-size: cover;
    height: 700px;
  }
  .prize-context-col {
    margin-top: 690px;
    left: 27%;
  }
  .medal2 {
    margin-top: 500px;
  }
  .firstprize-rs {
    margin-top: 380px;
  }
  .secondprize {
    margin-top: 590px;
  }
  .secondprize-rs {
    margin-top: 640px;
  }
  .rules-section {
    height: 500px;
    margin-top: 40px;

    background-image: url('phone1.svg');
    background-size: cover;
  }
  .rule-wrapper {
    margin: 130px 0px 100px 10px;
  }
  .sponsor-img-container:nth-child(1) {
    margin: 100px 30px 5px 30px;
  }

  .sponsor-img-container {
    margin: 10px 30px;
  }
  .faq-section {
    background-image: url('phone1.svg');
    background-size: cover;
    height: 700px;
  }
  .accordion-container:nth-child(1) {
    max-width: 500px;
    margin: 100px 10px 5px 30px;
    padding-right: 0;
  }

  .column-2 {
    margin-top: -80px;
  }
  .contact-us-footer {
    background-image: url('footer1.svg');
    height: 130vh;
  }
  .number-wrapper {
    margin: 200px 0px 10px 10px;
  }
  .number-span {
    display: block;
  }
  .iframe-holder {
    margin-top: 20px;
  }
}
@media screen and (device-width: 375px) and (device-height: 812px) {
  nav {
    z-index: 100;
  }
  .header-section {
    height: 700px;
  }
  .theme-section {
    height: 850px;
  }
  .prize-section {
    height: 700px;
  }
  .prize-context-col {
    margin-top: 700px;

    left: 10%;
  }
  .accordion-container:nth-child(1) {
    max-width: 500px;
    margin: 100px 10px 5px 10px;
  }
  .faq-section {
    height: 700px;
  }
  .rules-section {
    height: 500px;
    margin-top: 40px;
  }
  .number-wrapper {
    margin: 200px 0px 10px 100px;
  }
}
@media screen and (device-width: 375px) and (device-height: 667px) {
  nav {
    z-index: 100;
  }
  .header-section {
    height: 700px;
  }
  .theme-section {
    height: 850px;
  }

  .prize-section {
    margin-top: 100px;
    height: 700px;
  }
  .rule-wrapper {
    margin: 130px 0px 100px 10px;
  }
  .prize-context-col {
    margin-top: 700px;

    left: 10%;
  }
  .faq-section {
    height: 700px;
  }
  .accordion-container:nth-child(1) {
    margin: 100px 10px 5px 10px;
  }
}

@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) {
  nav {
    z-index: 100;
  }
  .header-section {
    height: 700px;
  }
  .theme-section {
    height: 850px;
  }
  .prize-section {
    height: 700px;
  }
  .rules-section {
    height: 500px;
    margin-top: 40px;
  }
  .rule-wrapper {
    margin: 130px 0px 100px 10px;
  }
  .prize-context-col {
    margin-top: 680px;

    top: 50%;

    left: 27%;
  }
  .faq-section {
    height: 700px;
  }
  .accordion-container:nth-child(1) {
    margin: 100px 10px 5px 10px;
  }
}

@media screen and (max-width: 340px) {
  .wrapper {
    overflow-x: hidden;
    position: relative;
  }
  nav {
    background-color: #320374;
    z-index: 100;
  }

  .header-section {
    clip-path: none;
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.1),
        rgba(0, 0, 0, 0.15)
      ),
      url('phone-header330.svg');
    height: 700px;
  }
  .header-main {
    top: 55%;
    left: 10%;
  }
  .header-sub-text {
    color: white;
  }
  li:nth-child(2) {
    margin-right: 20px;
  }

  li:nth-child(3) {
    margin-right: 0px;
  }
  .timer-list:nth-child(4) {
    visibility: hidden;
  }

  .timer {
    top: 10%;
    left: 10%;
    z-index: 1;
  }
  .theme-section {
    background-image: url('phone1.svg');
    background-size: cover;
    height: 850px;
  }
  .theme-card:nth-child(1) {
    margin: 100px 10px 5px 10px;
  }
  .theme-card:nth-child(2) {
    margin: 10px 10px;
  }
  .theme-card:nth-child(3) {
    margin: 10px 10px;
  }
  .theme-card:nth-child(4) {
    margin: 10px 10px;
  }
  .prize-section {
    background-image: url('phone1.svg');
    background-size: cover;
    height: 700px;
  }
  .medal2 {
    margin-top: 500px;
  }
  .firstprize-rs {
    margin-top: 370px;
  }
  .secondprize {
    margin-top: 590px;
  }
  .secondprize-rs {
    margin-top: 640px;
  }
  .prize-context-col {
    margin-top: 680px;

    left: 27%;
  }
  .rules-section {
    background-image: url('phone1.svg');
    background-size: cover;
    height: 500px;
    margin-top: 40px;
  }
  .rule-wrapper {
    margin: 130px 0px 100px 10px;
  }
  .sponsor-img-container:nth-child(1) {
    margin: 100px 30px 5px 30px;
  }

  .sponsor-img-container {
    margin: 10px 30px;
  }
  .faq-section {
    background-image: url('phone1.svg');
    background-size: cover;
    height: 700px;
  }
  .accordion-container:nth-child(1) {
    max-width: 500px;
    margin: 100px 10px 5px 30px;
    padding-right: 0;
  }

  .faq-height {
    height: 200vh;
  }
  .column-2 {
    margin-top: -80px;
  }
  .contact-us-footer {
    background-image: url('footer1.svg');
    height: 130vh;
  }
  .number-wrapper {
    margin: 200px 0px 10px 10px;
  }

  .iframe-holder {
    margin-top: 20px;
  }
}
@media screen and (device-width: 320px) and (device-height: 568px) {
  nav {
    z-index: 100;
  }
  .header-section {
    height: 700px;
  }
  .theme-section {
    height: 160vh;
  }
  .prize-section {
    height: 720px;
  }
  .rule-wrapper {
    margin: 130px 0px 100px 10px;
  }
  .prize-context-col {
    margin-top: 700px;
    left: 25%;
  }
  .faq-section {
    height: 700px;
  }
  .accordion-container:nth-child(1) {
    max-width: 500px;
    margin: 100px 10px 5px 10px;
  }
}
