@import url('https://fonts.googleapis.com/css?family=Lato:300&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  background-color: white;
}

/* Header section */
.nav-link:link,
.nav-link:visited {
  color: white;
  font-size: 13px;
  transition: all 0.4s;
}

.nav-link:hover {
  color: #3ddfc9;
}

.header-section {
  height: 100vh;
  background-image: url('header.svg');
  background-position: right;
  background-size: cover;
  clip-path: polygon(100% 0, 100% 79%, 79% 94%, 23% 100%, 0 78%, 0 0);
  background-color: white;
  position: relative;
}

.header-main {
  position: absolute;
  top: 40%;
  left: 10%;
}

.header-main-text {
  color: white;
  text-transform: uppercase;
  font-size: 50px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

.header-main-text::after {
  content: '';
  display: block;
  position: absolute;
  top: 50;
  width: 30%;
  left: 35%;
  border-top: 1px solid white;
}

.header-sub-text {
  color: #c6ced3;
  text-transform: capitalize;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

.btn-header:link,
.btn-header:visited {
  text-decoration: none;
  color: white;
  background-image: linear-gradient(to right, #1285a5, #06d5ba);
  padding: 10px 60px;
  border-radius: 100px;
  display: inline-block;
  transition: all 0.4s;
}

.btn-header:hover {
  transform: translateY(-3px);
}

li {
  display: inline-block;
  list-style-type: none;
  padding: 1em;
  margin-right: 30px;
  text-transform: uppercase;
  color: white;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

li span {
  display: block;
  font-size: 30px;
}

.timer {
  position: absolute;
  top: 13%;
  left: 10%;
}

/* Theme */
.theme-section {
  height: 100vh;
  background-image: url('theme.svg');
  background-size: cover;
  position: relative;
}
.theme-card {
  padding: 30px 5px 150px 5px;
  margin: 100px 30px;
  height: 400px;
  background-color: white;
  border: none;
  border-radius: 10px;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.151);
  transition: all 0.4s;
}

.theme-card:hover {
  transform: translateY(-5px);
}
.theme-card > p {
  text-align: justify;
  padding: 0px 20px;
}

.theme-card-header {
  margin-top: 20px;
  font-size: 23px;
}

.theme-img {
  height: 100px;
}

.theme-header {
  position: absolute;
  left: 10%;
  font-size: 50px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}
.theme-header::after {
  content: '';
  display: block;
  position: absolute;
  top: 50;
  width: 40%;
  left: 60%;
  border-top: 1px solid black;
}

/* Sponsor */
.sponsor-section {
  background-image: url('sponsors.svg');
  background-size: cover;
  height: 100vh;
}
.sponsor-header {
  position: absolute;
  left: 10%;
  font-size: 50px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}
.sponsor-header::after {
  content: '';
  display: block;
  position: absolute;
  top: 50;
  width: 40%;
  left: 60%;
  border-top: 1px solid black;
}
.sponsor-img-container {
  margin: 100px 30px;
}
.sponsor-img {
  opacity: 0.9;
  transition: all 0.4s;
}
.sponsor-img:hover {
  opacity: 1;
  transform: scale(1.1);
}

/* FAQ */
.faq-header {
  position: absolute;
  left: 10%;
  font-size: 50px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}
.faq-header::after {
  content: '';
  display: block;
  position: absolute;
  top: 50;
  width: 40%;
  left: 60%;
  border-top: 1px solid #5760c6;
}
.accordion-container {
  position: relative;
  max-width: 500px;
  height: auto;
  margin: 100px auto;
}
.accordion-container > h2 {
  text-align: center;
  color: #fff;
  padding-bottom: 5px;
  margin-bottom: 20px;
  padding-bottom: 15px;
  font-family: 'Maven Pro', sans-serif;
}
.set {
  position: relative;
  width: 100%;
  height: auto;
  background-color: #240ba1;
  overflow: hidden;
}
.set > a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: white;
  font-weight: 600;
  transition: all 0.2s linear;
}
.set > a i {
  float: right;
  margin-top: 2px;
}
/* .set > a.active{
    background-color:#3399cc;
    color: #fff;
  } */
.content {
  background-color: #46016f;
  border-bottom: 1px solid #46016f;
  display: none;
}
.content p {
  padding: 10px 15px;
  margin: 0;
  color: white;
}

/* Contact Us */
.contact-us-footer {
  height: 100vh;
  background-image: url('contact.svg');
  background-size: cover;
}
